.container {
  // z-index: 2;
  .connect {
    display: block;
    cursor: pointer;
    color: rgb(245, 244, 244);
    font-weight: 400;
    border-radius: 5rem;
    font-size: 15px;
  }
  .disconnect {
    display: block;
    cursor: pointer;
    color: #fff;
    font-weight: 400;
    border-radius: 5rem;
    font-size: 15px;
  }

  .modal {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 95px 24px;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    transform: translate3d(0px, 0px, 0px);
    will-change: opacity;
    color: black;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 3;
    cursor: default;
    .closeModal {
      display: flex;
      position: fixed;
      color: #999999;
      top: 32px;
      right: 24px;
      background-color: black;
      transform: none;
      width: 50px;
      height: 50px;
      align-items: center;
      font-size: 30px;
      justify-content: center;
      border-radius: 99999px;
      cursor: pointer;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
      will-change: transform;
      transition: transform 0.2s ease 0s;
      &:hover {
        transform: scale(1.1);
      }
    }
    .modalMenu {
      opacity: 1;
      transform: none;
      outline: none;
      border-radius: 24px;
      width: auto;
      min-width: 350px;
      align-content: center;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      background-color: #0c2a30;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
      .modalInternal {
        padding: 50px;
        h1 {
          font-weight: 600;
          margin-bottom: 16px;
          text-align: center;
          font-size: 32px;
          letter-spacing: -0.02em;
        }
        .wallets {
          display: grid;
          gap: 32px;
          margin-bottom: 32px;
          p {
            text-align: center;
            transition: all 500ms;
            color: #999999;
            // &:hover{
            //   color: aqua;
            //   transform: scale( 1.08)
            // }
          }
          .Learn {
            margin: auto;
            padding: 1rem;
            font-size: 1.1rem;
            font-weight: 700;
          }
          .walletLists {
            display: grid;
            gap: 12px;
            .walletList {
              display: flex;
              align-items: center;
              justify-content: space-between;
              text-align: center;
              text-decoration: none;
              border: none;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              font-size: 16px;
              font-weight: 600;
              border-radius: 12px;
              cursor: pointer;
              will-change: transform;
              transition: all 500ms;

              &:hover {
                transform: scale(1.05);
              }
            }
          }
        }
      }
    }
  }

  .board {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 95px 24px;
    height: 100vh;
    z-index: 9;
    inset: 0px;
    overflow: auto;
    color: black;
    display: flex;
    transform: translate3d(0px, 0px, 0px);
    will-change: opacity;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    perspective: 1000px;
    align-items: center;
    justify-content: center;
    position: fixed;
    cursor: default;
    .closeModal {
      display: flex;
      position: fixed;
      color: white;
      top: 32px;
      right: 24px;
      transform: none;
      width: 50px;
      height: 50px;
      align-items: center;
      font-size: 30px;
      justify-content: center;
      border-radius: 99999px;
      cursor: pointer;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
      will-change: transform;
      transition: transform 0.2s ease 0s;
      &:hover {
        transform: scale(1.1);
      }
    }
    .smallBoard {
      opacity: 1;
      transform: none;
      outline: none;
      border-radius: 8px;
      width: auto;
      min-width: 350px;
      align-content: center;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      background-color: #0c2a30;
      align-items: center;
      justify-content: center;
      padding: 50px;
      transition: all 500ms;
      outline: transparent solid 2px;
      outline-offset: 2px;
      box-shadow: rgb(0 0 0 / 25%) 0px 25px 50px -12px;
      p {
        margin: 10px;
        color: #999999;
        transition: all 500ms;
      }
      button {
        border: none;
        color: black;
        background: transparent;
        font-size: 22px;
        margin-top: 5px;
        cursor: pointer;
        transition: all 500ms ease-in-out;
        &:hover {
          transform: scale(1.05);
          color: aqua;
        }
      }
    }
  }
}

/*# sourceMappingURL=Connect.module.css.map */
